.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 16px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
}